[Unit]
Description=chiefnet Application service
After=dnsmasq.service sdwan-systemupgrade.service
Wants=dnsmasq.service sdwan-systemupgrade.service

[Service]
Type=idle
ExecStart=/home/chiefnet/ChiefNet/StartupScripts/cpe-start-script.sh

[Install]
WantedBy=multi-user.target